<mat-dialog-content>
  <h2 mat-dialog-title>Function Parameters</h2>
  <div class="row">
    <div class="col-md-4">
      <b>
        Parameter Name
      </b>
    </div>
    <div class="col-md-4">
      <b>
        Description
      </b>
    </div>
    <div class="col-md-4">
      <b>
       Value
      </b>
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let param of target.parameters">
    <div class="col-md-4">
      {{ param.name }}
    </div>
    <div class="col-md-4">
      {{ param.description }}
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input matInput type="text" placeholder="Value" [(ngModel)]="param.currentValue">
      </mat-form-field>
    </div>
    <hr>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
