<mat-form-field class="fullwidth">
    <mat-select placeholder="Divisor Type" [(ngModel)]="type" (ngModelChange)="onTypeChange($event)" class="fullwidth">
        <mat-option [value]="DivisorInputType.Fixed">
            Fixed
        </mat-option>
        <mat-option [value]="DivisorInputType.BPM">
            BPM
        </mat-option>
        <mat-option [value]="DivisorInputType.Span">
            Span
        </mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="type === DivisorInputType.Fixed">
    <mat-form-field class="fullwidth">
        <input matInput type="number" placeholder="Count" [(ngModel)]="currentDivisorInput.count">
    </mat-form-field>
</div>

<div *ngIf="type === DivisorInputType.BPM">
    <mat-form-field class="fullwidth">
        <input matInput type="number" placeholder="BPM" [(ngModel)]="currentDivisorInput.bpm">
    </mat-form-field>
    <br>
    <mat-form-field class="fullwidth">
        <input matInput type="number" placeholder="Divisions per beat" [(ngModel)]="currentDivisorInput.beatDivisor">
    </mat-form-field>
    <br>
    <div class="alert alert-secondary">
        <b>Division Span (MS):</b> {{ currentDivisorInput.divisorSpan }}
    </div>
</div>

<div *ngIf="type === DivisorInputType.Span">
    <mat-form-field class="fullwidth">
        <input matInput type="number" placeholder="Span (MS)" [(ngModel)]="currentDivisorInput.span">
    </mat-form-field>
</div>