<div class="col padder">
  <mat-card>
    <mat-card-title>Compose timing points</mat-card-title>
    <div class="row">
      <div class="col-md-6">
        <textarea matInput placeholder="first timing point set (.osu format)" [(ngModel)]="set1lines"></textarea>
      </div>
      <div class="col-md-6">
        <textarea matInput placeholder="second timing point set (.osu format)" [(ngModel)]="set2lines"></textarea>
      </div>
    </div>
    <button mat-raised-button (click)="compose()">Compose</button>
  </mat-card>

  <mat-card>
    <mat-card-title>Tool Output</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button (click)="outArea.select()">Select all</button>
      <button mat-raised-button (click)="output =''">Clear</button>
    </mat-card-actions>

    <mat-card-content>
      <textarea
        matInput
        readonly
        placeholder="output will be here"
        [(ngModel)]="output"
        #outArea></textarea>
    </mat-card-content>
  </mat-card>
</div>

