<div class="row">
  <div class="col-md-9">
    <b style="padding: 2%">Menu</b> <button mat-button [matMenuTriggerFor]="fileMenu">Collection</button>
  </div>
  <div class="col-md-3">
    <div class="text-center">
      <b>Working on:</b> {{ currentFunction.name }}
    </div>
  </div>
</div>
<mat-menu #fileMenu>
  <button mat-menu-item (click)="onNew()">New</button>
  <button mat-menu-item (click)="onLoad()">Load...</button>
  <button mat-menu-item (click)="onSave()">Save to collection...</button>
  <button mat-menu-item (click)="onDelete()">Delete from collection...</button>
  <button mat-menu-item>Import collection...</button>
  <button mat-menu-item (click)="onExport()">Export collection</button>
</mat-menu>

<mat-tab-group>
  <mat-tab label="Code">
    <div ace-editor [(text)]="currentFunction.body" [mode]="'javascript'" [theme]="'eclipse'" [options]="editorOptions" style="min-height: 540px"
      #editor>
    </div>

  </mat-tab>
  <mat-tab label="Parameters">
    <br>
    <div class="paramarea">
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Function Name" [(ngModel)]="currentFunction.name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput placeholder="Function description" [(ngModel)]="currentFunction.description">
        </textarea>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="currentFunction.isBpm">Is BPM function</mat-checkbox>
      </mat-card>
    </div>

    <br>

    <div class="paramarea">
      <h2> Function Parameters </h2>
      <br>
      <button mat-raised-button (click)="addParam();">Add...</button>
      <br>

      <table mat-table [dataSource]="currentFunction.parameters" #paramTable>
        <ng-container matColumnDef="paramName">
          <th mat-header-cell *matHeaderCellDef> Parameter Name </th>
          <td mat-cell *matCellDef="let el">
            <mat-form-field class="tbIn">
              <input matInput class="tbIn" [(ngModel)]="el.name">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let el">
            <mat-form-field class="tbIn">
              <input matInput class="tbIn" [(ngModel)]="el.description">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="defaultValue">
          <th mat-header-cell *matHeaderCellDef> Default Value </th>
          <td mat-cell *matCellDef="let el">
            <mat-form-field class="tbIn">
              <input matInput class="tbIn" [(ngModel)]="el.defaultValue">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let el">
            <button mat-button (click)="deleteParam(el)">
              Remove
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <p class="alert alert-primary" *ngIf="currentFunction.parameters.length === 0">
        No parameters to display.
      </p>

      <br>

    </div>

  </mat-tab>
  <mat-tab label="Reference">
    <div class="padder col">
      <h2>Reference</h2>
      <ul>
        <li>
          Returning a
          <code>NaN</code> value will skip over the current divisor.
        </li>
        <li>
          The
          <code>params.builtin</code> value contains some useful definitions, such as
          <code>currentDivisor</code>,
          <code>divisorCount</code>,
          <code>divisorBpm</code> (can be null),
          <code>cycleBpm</code> (can be null),
          <code>currentCycle</code>,
          <code>cycleCount</code>,
          <code>spanPerDivision</code> in MS, and
          <code>spanPerCycle</code> in MS. Overwriting them changes the value for repeated calls.
        </li>
        <li>
          The SV function is called once every divisor of every cycle.
        </li>
      </ul>
    </div>
  </mat-tab>
</mat-tab-group>
