<mat-form-field class="fullwidth">
  <mat-select [(ngModel)]="newType" placeholder="Model type...">
    <mat-option [value]="TimeInputType.Duration">
      Duration (MS)
    </mat-option>
    <mat-option [value]="TimeInputType.StartEnd">
      Start-End time pair
    </mat-option>
    <mat-option [value]="TimeInputType.Beats">
      Beats
    </mat-option>
    <mat-option [value]="TimeInputType.NotetimeFixed">
      Based on notes (fixed duration)
    </mat-option>
    <mat-option [value]="TimeInputType.NotetimeVaried">
      Based on notes (note to note)
    </mat-option>
  </mat-select>

</mat-form-field>
<br/>

<mat-form-field class="fullwidth">
  <input matInput type="text" (change)="validateTimestamp($event)" [(ngModel)]="currentTimeInput.startTime" placeholder="Start time">
</mat-form-field>
<br/>

<mat-form-field *ngIf="!currentTimeInput.autocycle" class="fullwidth">
  <input matInput type="number" [(ngModel)]="currentTimeInput.cycleCount" placeholder="Cycle count">
</mat-form-field>
<br/>

<app-timeinput-duration [currentTimeInput]="currentTimeInput" *ngIf="timeType == TimeInputType.Duration">
</app-timeinput-duration>

<app-timeinput-startend [currentTimeInput]="currentTimeInput" *ngIf="timeType == TimeInputType.StartEnd">
</app-timeinput-startend>

<app-timeinput-beats [currentTimeInput]="currentTimeInput" *ngIf="timeType == TimeInputType.Beats">
</app-timeinput-beats>

<app-timeinput-notetimes [currentTimeInput]="currentTimeInput" *ngIf="timeType == TimeInputType.NotetimeFixed || timeType == TimeInputType.NotetimeVaried">
</app-timeinput-notetimes>

<div *ngIf="currentTimeInput.isConstantCycleTime" class="alert alert-secondary">
  <b>Used Cycle Time (MS):</b> {{ currentTimeInput.cycleDuration }}
</div>