<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <h2>Blackhole SV Studio (by Agka)</h2>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Single Emission">
    <app-emission-control></app-emission-control>
  </mat-tab>
  <mat-tab label="Compose Emitters">
    <app-compose-emitters></app-compose-emitters>
  </mat-tab>
  <mat-tab label="Compose Timing Points">
    <app-compose-timing-points></app-compose-timing-points>
  </mat-tab>
  <mat-tab label="Custom Function Editor">
    <app-function-editor [collection]="svFunctions"></app-function-editor>
  </mat-tab>
</mat-tab-group>
