<br>
<div class="col">
  <div class="row">
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>Time control</mat-card-title>
        <app-timeinput></app-timeinput>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>Divisor control</mat-card-title>
        <app-divisorinput></app-divisorinput>
        <!-- <div class="alert alert-secondary">
          <strong>Total divisors: </strong> <br>
          {{ currentDivisors }}
        </div> -->

      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>
          Timing point template
        </mat-card-title>
        <app-timing-point-template></app-timing-point-template>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>Emission control</mat-card-title>
        <app-select-emitter-function></app-select-emitter-function>

        <!-- Emit section -->
        <button mat-raised-button [disabled]="!(funcParams.currentFunction || funcParams.useFixedBpm)" (click)="emit()">
          Emit
        </button>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="row" *ngIf="error">
    <div class="col-md-2"></div>
    <div class="alert alert-danger col-md-8">
      <strong>Error: </strong>
      <br>
      <b>line:</b> {{ error.lineNumber }} <br>
      <b>message: </b> <br>
      {{ error.message }}
    </div>
    <div class="col-md-2"></div>
  </div>

  <br>
  <div class="padder grow">
    <mat-card>
      <mat-card-title>
        Output area
      </mat-card-title>
      <mat-card-actions>
        <button mat-raised-button (click)="output = ''">Clear...</button>
        <button mat-raised-button (click)="outputArea.select()">Select all</button>
      </mat-card-actions>
      <mat-card-content>
        <textarea matInput #outputArea readonly placeholder="output will be here" [value]="output"></textarea>
      </mat-card-content>
    </mat-card>
  </div>
</div>
