<br>
<div class="col">
  <div class="row">
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>Time control</mat-card-title>
        <app-timeinput></app-timeinput>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>Divisor control</mat-card-title>
        <app-divisorinput></app-divisorinput>
        <!-- <div class="alert alert-secondary">
          <strong>Total divisors: </strong> <br>
          {{ currentDivisors }}
        </div> -->
        <mat-checkbox [(ngModel)]="includeDivisorAtEnd"> Include divisor at end of last cycle </mat-checkbox>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>
          Timing point template
        </mat-card-title>
        <app-timing-point-template></app-timing-point-template>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card>
        <mat-card-title>Emission control</mat-card-title>
        <mat-checkbox [(ngModel)]="useFixedBpm">Use Fixed BPM</mat-checkbox>
        <hr>
        <!-- Function section -->
        <div *ngIf="!useFixedBpm">
          <div class="row">
            <h4>SV/BPM function</h4>
            <div class="col-md-12 text-center" [class.grey]="!currentFunction">
              {{ currentFunction && currentFunction.name || "no function selected" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 text-center">
              <button mat-raised-button (click)="selectFunction(false)">Select function</button>
            </div>
            <div class="col-md-4 text-center">
              <button mat-raised-button (click)="setParameters(false)" [disabled]="!currentFunction">
                Set Parameters
              </button>
            </div>
          </div>
        </div>

        <!-- Fixed BPM section -->
        <div *ngIf="useFixedBpm">
          <input matInput type="number" placeholder="BPM" [(ngModel)]="bpm">
        </div>
        <hr>

        <!-- Time deformation -->
        <div class="row">
          <h4>Time Deformation function</h4>
          <div class="col-md-12 text-center" [class.grey]="!currentTimeFunction">
            {{ currentTimeFunction && currentTimeFunction.name || "no function selected" }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-center">
            <button mat-raised-button (click)="selectFunction(true)">Select function</button>
          </div>
          <div class="col-md-4 text-center">
            <button mat-raised-button (click)="setParameters(true)" [disabled]="!currentTimeFunction">
              Set Parameters
            </button>
          </div>
        </div>

        <hr>

        <!-- Emit section -->
        <button mat-raised-button [disabled]="!(currentFunction || useFixedBpm)" (click)="emit()">
          Emit
        </button>
      </mat-card>
    </div>
  </div>

  <br>

  <div class="row" *ngIf="error">
    <div class="col-md-2"></div>
    <div class="alert alert-danger col-md-8">
      <strong>Error: </strong>
      <br>
      <b>line:</b> {{ error.lineNumber }} <br>
      <b>message: </b>  <br>
      {{ error.message }}
    </div>
    <div class="col-md-2"></div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-12 padder">
      <mat-card>
        <mat-card-title>
          Output area
        </mat-card-title>
        <button mat-raised-button (click)="output = ''">Clear...</button>
        <button mat-raised-button (click)="outputArea.select()">Select all</button>
        <textarea matInput #outputArea readonly placeholder="output will be here" [value]="output"></textarea>
      </mat-card>
    </div>
  </div>
</div>
