/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.main-content {
    display: flex; 
    min-height: 100%; 
    flex-direction: column; 
    height: 100%
}

html {
    height: 100%;
}