/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.main-content {
    display: flex; 
    min-height: 100%; 
    flex-direction: column; 
    height: 100%
}

html {
    height: 100%;
}

.padder {
    padding: 2%;
}

.col {
    flex-direction: column;
}

.fullwidth {
    width: 100%;
}